@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100 900;
  src: url("/fonts/Roboto-VariableFont_wdth\,wght.woff2") format("woff2"),
    url("/fonts/Roboto-VariableFont_wdth\,wght.woff") format("woff"),
    url("/fonts/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
  font-display: swap;
}

@theme {
  /* Colores principales */
  --color-alx-50: #e8f1ff;
  --color-alx-100: #d5e5ff;
  --color-alx-200: #b3ceff;
  --color-alx-300: #85acff;
  --color-alx-400: #567bff;
  --color-alx-500: #2f4bff;
  --color-alx-600: #0c16ff;
  --color-alx-700: #0008ff;
  --color-alx-800: #060fcd;
  --color-alx-900: #101a9f;
  --color-alx-950: #0a0e5c;

  /* Colores secundarios */
  --color-background: #F8F8F8;
  --color-text: #1C1C1E;
  --color-gray-muted: #5C5C5C;
  --color-gray-muted-50: #6c6c6c;
  --color-accent: #4A5C6A;
  --color-gold: #CDA45E;
  --color-cinnamon: #c0b1ad;
  --color-gold-hover: #B38A45;
  --color-border: #E0E0E0;
  --color-white-gray: #f6f5f1;

  /* Teléfonos grandes (640px) */
  --breakpoint-phone-lg: 40rem;

  /* Tabletas verticales (768px) */
  --breakpoint-tablet: 48rem;

  /* Laptops pequeñas (1024px) */
  --breakpoint-laptop: 64rem;

  /* Laptops estándar (1280px) */
  --breakpoint-desktop: 80rem;

  /* Pantallas grandes (1536px) */
  --breakpoint-fullhd: 96rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", "Segoe UI", Geneva, Verdana, sans-serif,
    Courier;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

/* ——— Animación marquee ——— */
@keyframes scrollX {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  /* mobile‑first */
  animation: scrollX 75s linear infinite;
}

@media (min-width: 768px) {

  /* ≥ tablet */
  .animate-scroll {
    animation-duration: 70s;
  }
}