---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Avatar from "@assets/my-avatar.png";
const iconTools = ["astro", "react", "javascript", "typescript", "tailwindcss"];
---

<section
  class="relative pt-20 flex flex-col justify-center items-center text-center px-8"
>
  <div
    class="absolute inset-0 -z-10"
    style={{
      background:
        "radial-gradient(125% 125% at 50% 90%, #fff 40%, #6366f1 100%)",
    }}
  >
  </div>
  <!-- <Image
    src={Avatar}
    alt="logo Servitec"
    class="w-58 h-58 object-cover object-center laptop:w-64 laptop:h-64 rounded-full"
    data-aos="fade-up"
  /> -->
  <span
    data-slot="badge"
    class="inline-flex items-center justify-center font-medium w-fit whitespace-nowrap shrink-0 [&>svg]:size-3 [&>svg]:pointer-events-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive overflow-hidden [a&]:hover:bg-secondary/90 gap-2 py-2 px-3 sm:px-4 text-xs sm:text-sm rounded-full shadow-lg backdrop-blur-md transition-all duration-300 border bg-white/80 border-gray-200/50 text-gray-900 hover:bg-white/90"
    ><div class="relative flex h-2 w-2">
      <span
        class="animate-ping absolute inline-flex h-full w-full rounded-full bg-emerald-400 opacity-75"
      ></span><span
        class="relative inline-flex rounded-full h-2 w-2 bg-emerald-500"></span>
    </div><span class="font-medium">Innovamos</span><svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-zap h-3 w-3 text-orange-500"
      aria-hidden="true"
      ><path
        d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1 1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z"
      ></path></svg
    ><span class="hidden sm:inline-flex items-center">Creamos</span><svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-arrow-right h-3 w-3"
      aria-hidden="true"
      ><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path></svg
    ></span
  >
  <h1
    class="text-3xl prose tablet:text-4xl desktop:text-6xl font-bold tracking-tight mt-6 mb-1"
  >
    Hola, soy <span class="text-alx-900">Alexis Chim</span><br />
  </h1>
  <h2
    class="mb-6 text-2xl sm:text-3xl md:text-4xl lg:text-4xl font-bold tracking-tight"
  >
    <span
      class="bg-gradient-to-r bg-[200%_auto] bg-clip-text leading-tight text-transparent transition-all duration-300 from-neutral-900 via-slate-500 to-neutral-500"
      >Frontend Developer</span
    >
  </h2>
  <p
    class="text-base sm:text-lg mb-6 sm:mb-8 max-w-lg mx-auto leading-relaxed transition-colors duration-300 px-4 sm:px-0 text-gray-600"
  >
    Enfocado en desarrollar interfaces web que <strong>transforman ideas</strong
    > en experiencias atractivas y accesibles, siempre pensando en el usuario, el
    <strong>rendimiento</strong> y los <strong>pequeños detalles</strong> que hacen
    la diferencia.
  </p>

  <div
    class="flex flex-col justify-center items-center gap-4 w-full px-10 tablet:px-8 tablet:flex-row tablet:w-4/5 laptop:w-1/2"
  >
    <a
      href="#projects"
      class="flex items-center gap-3 p-3 sm:p-4 rounded-xl shadow-lg backdrop-blur-md transition-all duration-300 border w-full sm:w-auto bg-white/70 border-gray-200/30 hover:bg-white/80"
    >
      <div class="p-2 rounded-lg transition-colors duration-300 bg-violet-100">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-copy h-4 sm:h-5 w-4 sm:w-5 transition-colors duration-300 text-violet-600"
          aria-hidden="true"
          ><rect width="14" height="14" x="8" y="8" rx="2" ry="2"></rect><path
            d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"
          ></path></svg
        >
      </div><div class="text-left">
        <h3
          class="font-semibold text-sm transition-colors duration-300 text-gray-900"
        >
          Mi vitrina de desarrollos
        </h3><p class="text-xs transition-colors duration-300 text-gray-600">
          Listas para explorar
        </p>
      </div>
    </a>
    <a
      href="#services"
      class="flex z-20 items-center gap-3 p-3 sm:p-4 rounded-xl shadow-lg backdrop-blur-md transition-all duration-300 border w-full sm:w-auto bg-white/70 border-gray-200/30 hover:bg-white/80"
    >
      <div class="p-2 rounded-lg transition-colors duration-300 bg-pink-100">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-eye h-4 sm:h-5 w-4 sm:w-5 transition-colors duration-300 text-pink-600"
          aria-hidden="true"
          ><path
            d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"
          ></path><circle cx="12" cy="12" r="3"></circle></svg
        >
      </div><div class="text-left">
        <h3
          class="font-semibold text-sm transition-colors duration-300 text-gray-900"
        >
          Mis soluciones digitales
        </h3><p class="text-xs transition-colors duration-300 text-gray-600">
          A tu disposición
        </p>
      </div>
    </a>
  </div>
  <footer class="my-7 flex justify-center items-center gap-4">
    {
      iconTools.map((icon) => (
        <Icon name={icon} class="w-8 h-8 justify-center items-center" />
      ))
    }
  </footer>
</section>
