---
import { myProjects } from "@data/myProjects";
---

<section id="projects" class="min-h-screen snap-start pt-10 pb-4">
  <header class="px-4 mx-auto text-center max-w-[90%] laptop:max-w-[85%]">
    <h2 class="text-4xl font-bold mb-3 tablet:text-4xl laptop:text-5xl">
      Zona de commits visuales
    </h2>
    <p class="mb-4 text-gray-600 prose-sm">
      Donde cada diseño cuenta una historia y cada línea de código impulsa
      experiencias memorables.
    </p>
  </header>
  <!-- <Carousel carouselId="solutions-TOWNHOUSES" class="">
    {myProjects.map((project) => <CardProject project={project} />)}
  </Carousel> -->
</section>
