---
import { myProjects } from "@data/myProjects";
import Carousel from "./Carousel.astro";
import CardProject from "./CardProject.astro";
---

<section id="projects" class="min-h-screen snap-start pt-10 pb-4">
  <header class="px-4 mx-auto max-w-[90%] laptop:max-w-[85%]">
    <h2 class="text-4xl font-bold text-start mb-3">Zona de commits visuales</h2>
    <p class="mb-4 text-gray-600 prose-sm">
      Este espacio reúne mis proyectos más sólidos, pensados para destacar en
      diseño, funcionalidad y eficiencia.
    </p>
  </header>
  <Carousel carouselId="solutions-TOWNHOUSES" class="">
    {myProjects.map((project) => <CardProject project={project} />)}
  </Carousel>
</section>
