---
import { Image } from "astro:assets";
import facebookPreview from "@assets/face_promotion.webp";
import { Icon } from "astro-icon/components";
import LinkButton from "./LinkButton.astro";
import ContainerCenter from "./ContainerCenter.astro";
---

<section
  class="relative w-full flex justify-center items-center bg-white overflow-hidden"
  aria-labelledby="facebook-heading"
>
  <ContainerCenter class="flex flex-col items-center justify-center">
    <header class="text-center">
      <span
        class="inline-flex items-center gap-2 px-4 py-2 text-sm font-medium rounded-full bg-gray-50 border border-gray-200 text-gray-700 shadow-sm hover:bg-gray-100 transition"
      >
        <span class="relative flex h-2 w-2">
          <span
            class="animate-ping absolute inline-flex h-full w-full rounded-full bg-blue-400 opacity-75"
          ></span>
          <span class="relative inline-flex rounded-full h-2 w-2 bg-blue-500"
          ></span>
        </span>
        Sígueme en <Icon name="icon-arrow" aria-hidden="true" />
      </span>

      <h2
        id="facebook-heading"
        class="text-4xl font-bold text-gray-900 leading-tight"
      >
        Facebook: 👨‍💻Alexis-KRCode<br />
        <span class="text-alx-600">Desarrollo Web & Diseño Elegante</span>
      </h2>

      <!-- <p class="text-lg text-gray-600 max-w-xl mx-auto md:mx-0">
        Entra a un espacio donde el código se convierte en diseño: tips, ideas y
        proyectos reales contados desde la perspectiva de un frontend developer.
      </p>

      <LinkButton
        url="https://www.facebook.com/profile.php?id=61578281609381"
        className="inline-flex items-center gap-2 px-5 py-3 bg-alx-700 text-white rounded-lg font-semibold hover:bg-alx-700 transition"
        title="Seguir a Alexis-KRCode"
        subtitle="¡Vamos, vamos!"
        nameIcon="icon-face"
        containerIconClass="bg-indigo-100"
        classIcon="text-indigo-900"
      /> -->
    </header>
  </ContainerCenter>
</section>
