---
import { experience } from "@data/myExperience";
import CardExperience from "./CardExperience.astro";
// import { CardExperience } from "./CardExperience";
---

<section
  id="experiencia"
  class="text-center snap-y snap-mandatory min-h-[100vh] mx-auto max-w-[90%] laptop:max-w-[85%] flex flex-col tablet:flex-row relative"
>
  <aside class="w-full tablet:pr-2 tablet:relative tablet:w-[40%] tablet:mb-0">
    <header
      class="sticky top-0 py-4 bg-white z-50 tablet:sticky tablet:top-[20%] tablet:text-start"
    >
      <div
        class="bg-alx-100 inline-flex items-center justify-center font-medium w-fit whitespace-nowrap shrink-0 [&>svg]:size-3 [&>svg]:pointer-events-none py-2 px-3 rounded-full uppercase overflow-hidden gap-2 sm:px-4 text-xs sm:text-sm transition-all duration-300 text-alx-900"
      >
        Estrategia + Diseño + Tecnología
      </div>
      <h2
        class="text-4xl font-bold leading-snug tablet:text-5xl laptop:text-6xl"
      >
        Experiencia digital con propósito
      </h2>
    </header>
  </aside>

  <aside class="tablet:w-[60%] relative">
    <div class="relative w-full">
      {
        experience.map((exp, index) => (
          <CardExperience exp={exp} numberProject={index + 1} />
        ))
      }
    </div>
  </aside>
</section>
