---
import { experience } from "@data/myExperience";
import CardExperience from "./CardExperience.astro";
import ContainerCenter from "./ContainerCenter.astro";
import MyTitle from "./MyTitle.astro";
---

<section
  id="experiencia"
  aria-labelledby="experiencia-title"
  class="text-center py-6 flex justify-center items-center bg-white"
>
  <ContainerCenter class="flex flex-col tablet:flex-row laptop:gap-4">
    <!-- Lado izquierdo: encabezado -->
    <aside class="w-full tablet:w-[40%] tablet:mb-0">
      <header
        class="sticky top-0 z-40 bg-white py-4 tablet:top-[20%] tablet:text-start"
      >
        <!-- Pill de sección -->
        <div
          class="bg-alx-100 inline-flex items-center justify-center font-medium w-fit text-xs sm:text-sm text-alx-900 rounded-full px-3 py-2 gap-2 uppercase shadow-sm"
        >
          Estrategia + Diseño + Tecnología
        </div>

        <!-- Título principal -->
        <MyTitle idTitle="experiencia-title">
          Experiencia digital con propósito
        </MyTitle>
      </header>
    </aside>

    <!-- Lado derecho: cards -->
    <aside class="tablet:w-[60%] relative">
      <div class="space-y-8 w-full">
        {
          experience.map((exp, index) => (
            <CardExperience exp={exp} numberProject={index + 1} />
          ))
        }
      </div>
    </aside>
  </ContainerCenter>
</section>
