---
import { Icon } from "astro-icon/components";
import ContainerCenter from "./ContainerCenter.astro";
import MyTitle from "./MyTitle.astro";
---

<section
  class="relative flex flex-col justify-center items-center text-center bg-gradient-radial from-white via-purple-50 to-purple-200"
  aria-labelledby="my-stack-title"
>
  <ContainerCenter>
    <aside class="text-start">
      <header class="mb-6 flex flex-col items-start justify-start">
        <MyTitle idTitle="my-stack-title">
          <!-- Encuentra lo que sea con una sola búsqueda. -->
          Tu visión, mi caja de herramientas
        </MyTitle>
        <p class="my-3 text-black text-sm">
          Domina tu proyecto con la tecnología adecuada. Un stack moderno,
          optimizado y diseñado para dar vida a tus ideas.
        </p>
        <a
          href="#projects"
          class="flex items-center gap-3 p-3 rounded-xl shadow-lg backdrop-blur-md border w-full sm:w-auto bg-alx-700 border-gray-200/30 hover:bg-alx-500 focus:outline-none focus:ring-2 focus:ring-violet-400 max-w-[60%]"
        >
          <div class="p-2 rounded-lg bg-violet-100">
            <Icon name="exercism" class="h-6 w-6 text-violet-600" is:inline />
          </div>
          <div class="text-left">
            <h3 class="font-semibold text-sm text-white">Zona de commits</h3>
            <p class="text-xs text-gray-200">Listas para explorar</p>
          </div>
        </a>
      </header>
    </aside>
    <aside>image</aside>
  </ContainerCenter>
</section>
