<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Alexis Chim: Frontend Web Developer</title>
  </head>
  <body>
    <main class="relative">
      <slot />
    </main>
  </body>
</html>
